{% extends "../base.html"%}
{% load staticfiles %}
{% block content %}

<div class="container" >
	<div class="jumbotron" id="contain">

		
		<form method="post" action ="{% url 'lista_autos' %}" >
		{% csrf_token %}
			 <div class="row">
				 <div class="col-md-4">
				 	<h1>Estado</h1>	
			 	 </div>
			 	 <div class="col-md-4">
			 	 </div>
			 	 <div class="col-md-2">
				 </div>
			 	 <div class="col-md-1">
				 </div>
			 	 <div class="col-md-1">
					  <h1><i class="fa fa-refresh" aria-hidden="true"></i></h1>
			 	 </div>
			</div>

			<div class="row">
				 <div class="col-md-6">
				 	<div class="row">
				 		<div class="col-md-6">
				 			<a href=""><img src="{% static 'img/Car.png' %}" class="img-circle" style="width: 75%"></a>
				 		</div>
				 		<div class="col-md-6">
				 			<h2>Toyota Yaris</h2>
					 		<h2>ACC-0123</h2>
				 		</div>
				 	</div>
			 	 </div>
			 	 <div class="col-md-6">
				 	 <div class="row">
					 	 <div class="col-md-4">
					 	 	
					 	 </div>
					 	 <div class="col-md-4">
					 	 	<h2>Contratado</h2>
					 	 	
					 	 </div>
					 	 <div class="col-md-4">
					 	 </div>
					 </div>
					 <div class="row">
					 	 <div class="col-md-4">
					 	 	<h2>Conductor:</h2>
					 	 </div>
					 	 <div class="col-md-8">
					 	 	<h2>Christian Flores</h2>
					 	 </div>
					 	 
					 </div>
					  <div class="row">
					 	 <div class="col-md-4">
					 	 	<h2>Jornada:</h2>
					 	 </div>
					 	 <div class="col-md-8">
					 	 	<h2>12 horas</h2>
					 	 </div>
					 </div>
				 </div>
			 	 
			</div>
			<div class="row">


				<div class="col-md-6">
					<div class="row">
					<div class= "col-md-1">
					</div>
			 		<div class="col-md-11">
			 		<i class="fa fa-star-o" aria-hidden="true"></i>
			 		<i class="fa fa-star-o" aria-hidden="true"></i>
			 		<i class="fa fa-star-o" aria-hidden="true"></i>
			 		<i class="fa fa-star-o" aria-hidden="true"></i>
			 		<i class="fa fa-star-o" aria-hidden="true"></i>
			 		
			 		</div>
			 		</div>
			 	</div>
			 	<div class="col-md-6">
			 		
			 	</div>
			 </div>
			
<!--
			<div class=row>
				<div class="col-md-12">
					<button type="submit" class="btn btn-primary pull-right">Submit</button>
				</div>
			</div>-->
		</form>
	</div>
	
 <div class="row" >
			 	<div class="col-md-6 ">
			 			<a href=""><img  src="{% static 'img/notificacion.png' %}" class="img-circle center-block" style="width: 40%"></a>
			 	</div>
			 	<div class="col-md-6">
						<a href="{% url 'lista_autos' %}"><img src="{% static 'img/buscar.png' %}" class="img-circle center-block" style="width: 40%"></a>
			 	</div>
			 </div>
			 <div class="row">
			 	<div class="col-md-6">
			 			<a href="" id="lol"><img src="{% static 'img/configuracion.png' %}" class="img-circle center-block" style="width: 40%"></a>
			 	</div>
			 	<div class="col-md-6">
			 			<a href="" id="lol2"><img src="{% static 'img/chat.png' %}" class="img-circle center-block" style="width: 40%"></a>
			 	</div>
			 </div>
			 <div class="row">
			 	<div class="col-md-6">
			 			<a href=""><img src="{% static 'img/anunciar.png' %}" class="img-circle center-block" style="width: 40%"></a>

			 	</div>
			 	<div class="col-md-6">
			 			<a href=""><img src="{% static 'img/historial.png' %}" class="img-circle center-block" style="width: 40%"></a>


			 	</div>
			 </div>
		

	<!-- modelo= models.CharField(max_length=264)
	plazas= models.CharField(max_length=264)
	aire_acondicionado= models.CharField(max_length=264)
	tipo_transmision= models.CharField(max_length=264)
	lugar_recodiga= models.CharField(max_length=264)
	precio= models.FloatField()
	jornada= models.IntegerField(max_length=264)
	is_alquiled= models.BooleanField() -->
	{% if access_records %}
	<section>
		<h2>Recomendados</h2>
		{% for acc in access_records %}
		<div class="row">
			<div class="col-md-4">
				<a href=""><img src="{% static 'img/car.jpg' %}" class="img-thumbnail"></a>
			</div>
			<div class="col-md-4">
				<h2>{{acc.modelo}}</h2>
				<p><strong>plazas: </strong>{{acc.plazas}}</p>
				<p><strong>Aire Acondicionado: </strong>{{acc.aire_acondicionado}}</p>
				<p><strong>Tipo Transmision: </strong>{{acc.tipo_transmision}}</p>
				<p><strong>Lugar Recogida: </strong>{{acc.lugar_recodiga}}</p>
			</div>
			<div class="col-md-4">
				<h2> Precio por jornada de {{acc.jornada}} horas</h2>
				<h1>S/.{{acc.precio}}</h1>
			</div>
		</div>
		{% endfor %}
	</section>
	{% endif %}
</div>

{% endblock%}

