{% extends "base.html"%}

{% load staticfiles%}

{% block content %}

<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>Captura un <span class="em-text">Conductor</span></h1>
					<p>Una forma rápida y sencilla de buscar autos y conductores - Izi carro Izi life</p>
					<a href="{% url 'conductor:alquilar_auto' %}" ><img class="app-btn img-rounded"  id="botoncarro" src="{% static 'img/drivericon2.jpg' %}"></a>
					<a href="{% url 'conductor:alquilar_auto' %}"><img class="app-btn img-rounded" id="botoncarro" src="{% static 'img/drivericon.jpg' %}"></a>
				</div>
				<div class="col-md-6">
			
					<img src="{% static 'img/site_phone2.png' %}" class="showcase-img">
				</div>
			</div>
		</div>
	</div>
	<section id="middle">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<img src="{% static 'img/carpublicidad.png' %}" class="demo">
					<h2>Seguro de autos</h2>
					<p>Encuentra en segundos el seguro vehicular que necesitas. Te asesoramos antes y después de la contratación de tu seguro para que compares todas las opciones del mercado y ahorres hasta 35%.</p>
					<a href="#" class="btn btn-default">
						Read more..
					</a>

				</div>
				<div class="col-md-4">
					<img src="{% static 'img/carpublicidad.jpg' %}" class="demo">
					<h2>¿Quieres cambiar de auto?</h2>
					<p>Si decides cambiar tu coche a través de particulares, corres el riesgo de que la venta de tu coche se haga por otro precio al deseado y que se demore más de lo que piensas. Si prefieres profesionales, lo harás más rápido pero asegúrate de que te dan el precio real de tu coche en el mercado y, sobre todo, evita pagar los costes de tasación de tu vehículo y confirma antes que no te exigen compromiso de venta.La forma más rápida y fiable de vender tu automóvil es en compramostucoche.es. Sin anuncios, sin regateos, sin costes, sin compromiso y sin trámites como el cambio de titularidad. Tasa ahora tu coche online de forma gratuita y conoce el valor aproximado del mismo en cinco minutos.</p>
					<a href="#" class="btn btn-default">
						Read more
					</a>

				</div>
				<div class="col-md-4">
					<img src="{% static 'img/carpublicidad2.jpg' %}" class="demo">
					<h2>Consigue autos nuevos</h2>
					<p>Ingresa a nuestro catálogo de autos nuevos y adquirí el auto que tanto soñaste! Precios, ofertas, cotizaciones y planes de financiación en Perú. Todos los autos nuevos disponibles en el mercado. Encuentra la información más completa de equipamiento, colores, precios, datos técnicos y fotos de todos los autos.</p>
					<a href="#" class="btn btn-default">
						Read more
					</a>

				</div>
			</div>
		</div>
	</section>
	<section id="feature">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h1>Ventajas de Issy Car</h1>
					<ul>
						<li><i class="glyphicon glyphicon-ok"></i>Intuitivo </li>
						<li><i class="glyphicon glyphicon-ok"></i>Rápido </li>
						<li><i class="glyphicon glyphicon-ok"></i>Seguro </li>
						<li><i class="glyphicon glyphicon-ok"></i>Confiable</li>
					</ul>
				</div>
				<div class="col-md-4 col-md-offset-2">
					<img src="{% static 'img/logo2.png' %}" class="big-logo">		
				</div>
			</div>
		</div>
	</section>

{% endblock%}