{% extends "base.html"%}
{% load staticfiles %}
{% block content %}

<div class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>Captura un <span class="em-text">Conductor</span></h1>
					<p>A fun and easy way to capture & share the moments of your life</p>
					<a href="#"><img class="app-btn" src="{% static 'img/icon_app_store.png' %}"></a>
					<a href="#"><img class="app-btn" src="{% static 'img/icon_google_play.png' %}"></a>
				</div>
				<div class="col-md-6">
			
					<img src="{% static 'img/site_phone.png' %}" class="showcase-img">
				</div>
			</div>
		</div>
	</div>
	<section id="middle">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<img src="{% static 'img/demo1.jpg' %}" class="demo">
					<h2>Lorem Ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a href="#" class="btn btn-default">
						Read more..
					</a>

				</div>
				<div class="col-md-4">
					<img src="{% static 'img/demo2.jpg' %}" class="demo">
					<h2>Lorem Ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a href="#" class="btn btn-default">
						Read more
					</a>

				</div>
				<div class="col-md-4">
					<img src="{% static 'img/demo3.jpg' %}" class="demo">
					<h2>Lorem Ipsum</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					<a href="#" class="btn btn-default">
						Read more
					</a>

				</div>
			</div>
		</div>
	</section>
	<section id="feature">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h1>Gamma Features</h1>
					<ul>
						<li><i class="glyphicon glyphicon-ok"></i>cillum dolore </li>
						<li><i class="glyphicon glyphicon-ok"></i>quis nostrud exercitation </li>
						<li><i class="glyphicon glyphicon-ok"></i>incididunt ut labore et </li>
						<li><i class="glyphicon glyphicon-ok"></i>dolore magna</li>
					</ul>
				</div>
				<div class="col-md-4 col-md-offset-2">
					<img src="{% static 'img/logo.png' %}" class="big-logo">
					
				</div>
			</div>
		</div>
	</section>


{% endblock%}