{% extends "../base.html"%}
{% load staticfiles %}
{% block content %}
<section class="conductor-info">
<div class="container">
    {% if object_list %}
        {% for conductor in object_list %}
    <div class="row">
        <div class="col-md-2">
            <img src="{% static 'img/icon-male.jpg.png' %}" class="img-thumbnail">
        </div>

        <div class="col-md-10">
            <div class = "row">
                <h1>{{ conductor.nombre}} {{conductor.apellido }}</h1>
            </div>
            <div class = "row">
                {%with ''|center:conductor.estrellas as estrella  %}
                {% for _ in estrella %}
                <span class="fa fa-star checked"></span>
                {% endfor %}
            {% endwith %}
            </div>
            <hr>

            <div class = "row">
                <div class="col-md-4">
                  <p><strong>Edad:</strong>{{ conductor.edad }}</p>
              </div>
              <div class="col-md-4">
                  <p><strong>Estado civil:</strong>{{ conductor.estado_civil }}</p>
              </div>
              <div class="col-md-4">
                  <p><strong>Ciudad:</strong>{{ conductor.ciudad }}</p>
              </div>


          </div>
      </div>
  </div>
  <div class="row">
    <div class="col-md-6">
        <h2>Experiencia</h2>
        <p><strong>Inicio en la app:</strong>{{ conductor.inicio_app }}</p>
        <p><strong>Número de viajes:</strong>{{ conductor.total_viajes }}</p>
    </div>
    <div class="cold-md-6">
        <h2>Licencia</h2>
        <p><strong>Tipo:</strong>{{ conductor.tipo_licencia }}</p>
        <p><strong>Fecha de vencimiento:</strong>{{ conductor.vencimiento_licencia }}</p>
    </div>
</div>
<hr>
<h1> Reseñas</h1>

{% for resenha in resenhas %}
<div class="row">
    <div class="col-md-1">
        <img src="{% static 'img/icon-male.jpg.png' %}" class="img-thumbnail">
    </div>
    <div class="col-md-11">
        <h3>{{ resenha.emisor }}</h3>
        {%with ''|center:resenha.estrellas as estrella  %}
                {% for _ in estrella %}
                <span class="fa fa-star checked"></span>
                {% endfor %}
        {% endwith %}
        <p>{{ resenha.fecha }}</p>
        <p> {{ resenha.comentario }}</p>
    </div>
</div>
{% endfor %}

{% endfor %}
{%endif%}
</section>
{% endblock %}
