{% extends "../base.html"%}
{% load staticfiles %}
{% block content %}

<div class="container">

	<!-- modelo= models.CharField(max_length=264)
	plazas= models.CharField(max_length=264)
	aire_acondicionado= models.CharField(max_length=264)
	tipo_transmision= models.CharField(max_length=264)
	lugar_recodiga= models.CharField(max_length=264)
	precio= models.FloatField()
	jornada= models.IntegerField(max_length=264)
	is_alquiled= models.BooleanField() -->
	<section id=info_a>
		<h2>Recomendados</h2>
		<div class="row">
			<div class="col-md-4">
				<a href=""><img src="{% static 'img/car.jpg' %}" class="img-thumbnail"></a>
			</div>

			<div class="col-md-4">
				<h2>Yaris</h2>
				<div class="row">
					<div class="col-md-6">
						<p><strong>plazas: </strong>5</p>	
					</div>
					<div class="col-md-6">
						<p>Tranmision mecanica</p>
					</div>
					<div class="col-md-6">
						<p><strong>Puertas: </strong>4</p>
					</div>
					<div class="col-md-6">
						<p>Aire acondicionado</p>
					</div>
					<div class="col-md-12">
						<p>Locacion</p>
					</div>
					<div class="col-md-12">
						<p>Lima-J.Chavez</p>
					</div>
					<div class="col-md-12">
						<p>Aeropuerto internacional</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<h1> Precio por jornada de 12 horas</h1>
				<h2>S/. 38.99</h2>
				<button type="submit" class="btn btn-primary center-block btn-lg"> Alquilar </button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<a href=""><img src="{% static 'img/Marcianito.gif' %}" class="img-circle center-block" style="width:40%"></a>
				<div class="row" id="rating">
						<i class="fa fa-star-o" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
						<i class="fa fa-star-o" aria-hidden="true"></i>
				</div>
				<div id="reco">
					Recomendado
				</div>
			</div>
			<div class="col-md-4" id="id_1">
				<div class="row"><h4>Dueño: Pedro Flores</h4></div>
				<div class="row"><h4>Numero: 6541315</h4></div>
				<div class="row"><h4>Correo: cfm@gmail.com</h4></div>
				<div class="row" id=id_2><button type="submit" class="btn btn-primary btn-lg"> Reseñas </button></div>
			</div>
			<div class="col-md-4" id="id_3">
				<UL type= disk>
					<LI><h3>Incluye</h3>
					<UL>
						<LI><h4>Cobertura en caso de robo</h4>
						<LI><h4>Cobertura por choque</h4>
						<LI><h4>Tanque lleno</h4>
					</UL>
				</UL>
				<div class="row" id=id_2><button type="submit" class="btn btn-primary btn-lg"> Favoritos </button></div>
			</div>
		</div>
	</section>
</div>

{% endblock%}

