{% extends "base.html"%}
{% load staticfiles %}
{% block content %}

<div class="container">


	<!-- modelo= models.CharField(max_length=264)
	plazas= models.CharField(max_length=264)
	aire_acondicionado= models.CharField(max_length=264)
	tipo_transmision= models.CharField(max_length=264)
	lugar_recodiga= models.CharField(max_length=264)
	precio= models.FloatField()
	jornada= models.IntegerField(max_length=264)
	is_alquiled= models.BooleanField() -->
	<section id=info_a>
		<h2>Recomendados</h2>
		<div class="row">
			<div class="col-md-4">
				<a href=""><img src="{% static 'img/car.jpg' %}" class="img-thumbnail"></a>
			</div>

			<div class="col-md-4">
				<h2>{{info_auto_detalle.modelo}}</h2>
				<div class="row">
					<div class="col-md-6">
						<p><strong>plazas: </strong>{{info_auto_detalle.plazas}}</p>	
					</div>
					<div class="col-md-6">
						<p><strong>Tranmision</strong> {{info_auto_detalle.tipo_transmision}}</p>
					</div>
					<div class="col-md-6">
						<p><strong>Puertas: </strong>{{info_auto_detalle.puertas}}</p>
					</div>
					<div class="col-md-6">
						<p><strong>Aire acondicionado: </strong>{{info_auto_detalle.aire_acondicionado}}</p>
					</div>
					<div class="col-md-12">
						<p><strong>Locacion:</strong> {{info_auto_detalle.lugar_recogida}}</p>
					</div>
				</div>
			</div>

			<div class="col-md-4">
				<h1> Precio por jornada de {{info_auto_detalle.jornada}} horas</h1>
				<h2>S/. {{info_auto_detalle.precio}}</h2>
				<a href="{% url 'auto:contratar' owner=info_auto_detalle.user auto=info_auto_detalle.pk %}" class="btn btn-primary btn-lg">Alquilar</a>

			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="col-md-12" >
					<a href=""><span class=""></span><img src="{% static 'img/icon-male.png' %}" class="img-circle center-block" style="width:40%"></a>
				</div>
				<div class="col-md-12" id="rating">
					
					<i class="fa fa-star-o" aria-hidden="true"></i>
					<i class="fa fa-star-o" aria-hidden="true"></i>
					<i class="fa fa-star-o" aria-hidden="true"></i>
					<i class="fa fa-star-o" aria-hidden="true"></i>
					<i class="fa fa-star-o" aria-hidden="true"></i>
				</div>
				<div id="reco">
					Recomendado
				</div>
			</div>
			<div class="col-md-4" id="id_1">
				<div class="row"><h4>Dueño: {{info_auto_detalle.user.conductor.nombre}} {{info_auto_detalle.user.conductor.apellido}}</h4></div>
				<div class="row"><h4>Numero: {{info_auto_detalle.user.conductor.telefono}}</h4></div>
				<div class="row"><h4>Correo: {{info_auto_detalle.user.email}}</h4></div>
				<div class="row" id=id_2><button type="submit" class="btn btn-primary btn-lg"> Reseñas </button></div>
			</div>
			<div class="col-md-4" id="id_3">
				<UL type= disk>
					<LI><h3>Incluye</h3>
						<UL>
							<LI><h4>Cobertura en caso de robo</h4>
								<LI><h4>Cobertura por choque</h4>
									<LI><h4>Tanque lleno</h4>
									</UL>
								</UL>
								<div class="row" id=id_2><button type="submit" class="btn btn-primary btn-lg"> Favoritos </button></div>
							</div>
						</div>
					</section>
				</div>

				{% endblock%}

